#tools-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/*margin: 0px 12.5%;*/
}

#header {
	text-align: center;
	padding: 10px 0px;
}

.card {
	flex: 0 1 30%;
	margin: 5px; 
}

.card a {
	text-decoration: none !important;
}

.tool-name {
	font-size: 40px;
	color: #61dbfb;
	text-align: center;
}

.tool-description {
	font-size: 20px;
	color: #61dbfb;
	text-align: center;
}

@media (max-width: 768px) {
	.card {
		flex: 0 1 100%;
	}
}
