#cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header {
    text-align: center;
}

.cards {
    width: calc(100vw/3);
    border: 5px solid blue;
}

CardTitle {
    text-align: center;
}