#things-container {
	display: flex;
    flex-flow: row wrap;
    align-items: stretch;
	justify-content: center;
	margin: 0 10%;
}
.things-title{
    font-weight: bold;
}
.things-card {
    display: flex;          
    flex-direction: column;
    flex: 0 1 20%;
    justify-content: center;
	margin: 0.5rem;
	border: 1px solid grey;
}

.things-text{
    white-space: pre-wrap;
}

.things-image {

    display: block;
    width:auto;
    height:200px;
    object-fit: cover;
  }

.things-button{
    position: 'absolute';
    bottom: 0
}