.tab
{
    margin-left: 2.5em
}

.doubletab
{
    margin-left: 5.0em
}

.header
{
    text-align: center;
    border-bottom: 3px solid #687864;
    line-height: 1.5;
}


.timesnewroman
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bgcolor
{
    background-color: blanchedalmond;
}

.spacing
{
    line-height: 1.2;
}