.cityCardHeader
{
    background-color: #31708E;
    border-color: #31708E;
    text-align: center;
    color: #f7f9fbee;
}

.cityCardBody
{
    background-color: #17A2B8;
    border-color:  #17A2B8;
    text-align: center;
}

.Button
{
    width: 100%;
    background-color: #a8b4b4;
    border-radius: 5px;
}

.showLess {
    margin-top: 10px;
}