.cityCardHeader
{
    background-color: #208292;
    border-color: #208292;
    text-align: center;
}

.cityCardBody
{
    background-color: #17A2B8;
    border-color:  #17A2B8;
    text-align: center;
}

.Button
{
    width: 100%;
    background-color: #a8b4b4;
}