.restaurants {
	display: flex;
	flex-flow: row wrap;
	margin: 0 10%;
}

.restaurant {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 40%;
	border-radius: 10px;
	margin: 0.5rem;
	border: 1px solid grey;
}

.image-div {
	display: flex;
	flex: 0 1 30%;
}

.text-div {
	flex: 0 1 70%;
	padding: 0.5rem;
}

.desciption {
	text-align: center;
}

@media (max-width: 768px) {
	.restaurant {
		flex: 1 1 100%;
	}
}
